.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :bio
  =f.error_message_on :bio
  =f.text_area :bio, :class => :text_area

.group
  =f.label :company
  =f.error_message_on :company
  =f.text_field :company, :class => :text_field

- fields_for :session do |location|
  .group
    %label Session Title:
    =f.error_message_on :title
    =f.text_field :title, :class => :text_field
  
  .group
    %label Session Description:
    =f.error_message_on :description
    =f.text_area :description, :class => :text_area

  .group
    =f.label :time_slot
    =f.error_message_on :time_slot
    =f.radio_button :time_slot, :value => '1'
    %span one
    =f.radio_button :time_slot, :value => '2'
    %span two
    =f.radio_button :time_slot, :value => '3'
    %span three

  .group
    =f.label :room
    =f.error_message_on :room
    = select_tag :room, :options => ['room1', 'room2'], :selected => 'room1'

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:speakers, :index)}';return false", :class => :button
