.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  /%span.description Ex: a simple text

.group
  =f.label :bio
  =f.error_message_on :bio
  =f.text_area :bio, :class => :text_area

.group
  =f.label :company
  =f.error_message_on :company
  =f.text_field :company, :class => :text_field

- fields_for :session do |sess|
  .group
    %label Session Title:
    =sess.error_message_on :title
    =sess.text_field :title, :class => :text_field
  
  .group
    %label Session Description:
    =sess.error_message_on :description
    =sess.text_area :description, :class => :text_area

  .group
    %label Photo URL:
    =sess.error_message_on :photo_url
    =sess.text_field :photo_url, :class => :text_field

  .group
    =sess.label :time_slot
    =sess.error_message_on :time_slot
    =sess.select :time_slot, :options => @slots, :selected => @selected_slot
    /=select_tag :time_slot, :options => [['label', '1'], ['label2', '2']], :selected => :time_s
    %span in
    =sess.select :room, :options => @rooms, :selected => @selected_room

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:speakers, :index)}';return false", :class => :button
