.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:speakers, :index)
      %li=link_to pat(:new), url(:speakers, :new)
      %li.active=link_to pat(:edit), url(:speakers, :edit, :id => @speaker.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:speaker)
    .inner
      -form_for :speaker, url(:speakers, :update, :id => @speaker.id), :method => :put, :class => :form do |f|
        =partial "speakers/form", :locals => { :f => f }


